/* main.css */
body {
    font-size: 1rem;
    line-height: 1.7;
    color: $COLOR-BLACK;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
    font-family: $OPENSANS;
}
p {
    margin-bottom: 10px;
}
a {
    color: $COLOR-BLUE;
}
a:focus, a:active, a:hover {
    outline: 0;
    text-decoration: none;
}
.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}
:focus {
    outline: none !important;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li.current-menu-item > a {
    text-decoration: none;
    background-color: transparent;
    color: #29699E;
}
.bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 10px;
    font-family: $ROBOTO;
    font-weight: 700;
    line-height: 1.5;
}
.image-overlay {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.text-blue {
    color: $COLOR-BLUE;
}
.text-black {
    color: $COLOR-BLACK;    
}