.header {
    padding-top: 10rem;
    padding-bottom: 10rem;
    position: relative;
    h1, h2, h3 {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
    h2 {
        font-weight: 900;
        svg {
            margin: 0 .5rem;
            font-size: 0.3rem;
            vertical-align: 0.875em;
        }
    }
    h3 {

    }
}
.bottom-header {
    background-color: #000000;
    h4 {
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
    }
}