.content {
    padding-top: 50px;
    padding-bottom: 50px;
    @include MQ(xl) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .main {
        padding-bottom: 50px;
        @include MQ(md) {
            padding-bottom: 30px;
        }
        .content-titulo {
            text-align: center;
            margin-bottom: 45px;
        }
        .list-post {
            .post {
                margin-bottom: 60px;
                &-header {
                    margin-bottom: 15px;
                    width: 100%;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    &__thumb {
                        overflow: hidden;
                        height: 240px;
                        img {
                        }
                    }
                    &__meta {
                        position: absolute;
                        background-color: rgba(#ffffff,.9);
                        text-align: center;
                        bottom: 18px;
                        left: 18px;     
                        padding: 10px 15px;
                        &__date {
                            font-weight: 700;
                            font-size: 0.875rem;
                        }
                        &__category {
                            font-weight: 600;
                        }
                    }
                }
                &-content {
                    &__titulo {
                        font-size: 1.5rem;
                        margin-bottom: 15px;
                        a {
                            color: $COLOR-BLACK;
                        }
                    }
                    &__text {
                        margin-bottom: 15px;
                    }   
                }
            }
        }
        &-header {
            margin-bottom: 50px;      
        }
        &-meta {
            &__date {
                margin-right: 25px;
                svg {
                    margin-right: 5px;
                    color: $COLOR-DATE;
                }
                .date {
                    font-size: 0.875rem;
                    color: $COLOR-DATE;
                }
            }
        }
        .article {
            margin-bottom: 50px;
        }
    }
    .sidebar {
        .widget {
            margin-bottom: 45px;
            &-titulo {
                text-transform: uppercase;
                text-align: center;
                font-size: 0.875rem;
                margin-bottom: 30px;
                letter-spacing: 2px;
            }
            &-content {
                p {
                    font-size: 0.875rem;
                }
            }
        }
    }
}